body{
    color: rgb(165, 40, 40);
    /*PONERLE COLOR AL FONDO y texto*/
    background-color: rgb(243, 171, 183);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1
{
    color: beige;
    font-size: 60px;
    text-align: center;
}
p{
    color: black;
}

img{
    width: 370px;
    height: 320px;
    padding: 20px;
    margin: 15px;
}
footer{
    background-color:beige;
    text-align: center;
}
